@if (loading) {
  <div class="text-center m-3">
    <h5>Loading...</h5>
  </div>
}

@if (!loading && brand && !editingMode) {
  <div class="container">
    <h3>Brand Details</h3>

    <img
      [src]="brand.logoUrl || '../../../../assets/images/no-image-100.png'"
      alt="Brand Logo"
      width="80"
      height="80"
    />

    <hr />

    <h5>{{ brand.name }}</h5>
    <p>Number of Products: {{ productsQuantity }}</p>

    @if (!successMessage) {
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-outline-primary btn-sm"
          (click)="startEditing()"
        >
          Edit
        </button>

        <button
          type="button"
          class="btn btn-outline-danger btn-sm"
          (click)="confirmDelete()"
        >
          Delete
        </button>
      </div>
    }
  </div>
}

@if (successMessage) {
  <div class="alert alert-success mt-3">
    {{ successMessage }}
  </div>
}

@if (errorMessage) {
  <div class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
}

@if (editingMode && brand) {
  <div class="container mt-3">
    <h5>Edit Brand: {{ brand.name }}</h5>

    <app-brand-edit
      [brand]="brand"
      (_save)="saveChanges($event)"
      (_cancel)="cancelEditing()"
      (_successMessage)="successMessage = $event"
    ></app-brand-edit>
  </div>
}
