<app-supplier-navbar></app-supplier-navbar>

<fieldset class="btn-group btn-group-sm" aria-label="Supplier tabs">
  <button
    *ngFor="let tab of tabs"
    type="button"
    class="btn btn-outline-secondary"
    [ngClass]="{ active: selectedComponent === tab }"
    (click)="selectedComponent = tab"
  >
    {{ tab }}
  </button>
</fieldset>
<div class="container" id="tag-container">
  @switch (selectedComponent) {
    @case ("supplier") {
      <app-supplier-details [supplier]="currentSupplier"></app-supplier-details>
    }
    @case ("margenes") {
      <div>
        <p>Margenes</p>
      </div>
    }
    @case ("contactos") {
      <div>
        <p>Contactos</p>
      </div>
    }
    @case ("inscripciones") {
      <div>
        <p>Numero de inscripciones</p>
      </div>
    }
  }
</div>
<hr />

<div class="container">
  @switch (selectedComponent) {
    @case ("supplier") {
      <app-supplier-details [supplier]="currentSupplier"></app-supplier-details>
    }
    @default {
      <p class="text-muted">Sección en construcción</p>
    }
  }
</div>

<hr />

<form class="row mb-3 justify-content-center" (ngSubmit)="onFormSubmit()">
  <div class="col-md-6">
    <input
      type="text"
      class="form-control"
      placeholder="Search supplier (min 3 chars)"
      [(ngModel)]="searchTerm"
      name="searchTerm"
    />

    @if (isFormSubmitted && searchTerm.length < 3) {
      <small class="text-danger">
        Search term must be at least 3 characters long
      </small>
    }
  </div>

  <div class="col-md-2">
    <button type="submit" class="btn btn-outline-primary btn-sm">Search</button>
  </div>
</form>

<div class="table-responsive">
  <table class="table table-hover table-sm align-middle">
    <thead class="table-dark">
      <tr>
        <th>#Id</th>
        <th>Name</th>
        <th>Legal Name</th>
        <th>Tax Id</th>
      </tr>
    </thead>

    <tbody>
      @for (supplier of supplierList; track supplier.id) {
        <tr
          tabindex="0"
          (click)="selectSupplier(supplier)"
          (keydown.enter)="selectSupplier(supplier)"
        >
          <td>{{ supplier.id }}</td>
          <td>{{ supplier.name }}</td>
          <td>{{ supplier.legalName }}</td>
          <td>{{ supplier.taxId }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
