<div class="container">
  <div class="text-center my-3">
    <h2>Brands</h2>
    <small class="text-muted">Total: {{ totalElements }}</small>
  </div>

  <div class="row align-items-center mb-3">
    <form class="col-md-6 d-flex" (ngSubmit)="searchBrand()">
      <input
        type="text"
        class="form-control me-2"
        placeholder="Search brand by name or ID"
        [(ngModel)]="searchTerm"
        name="searchTerm"
      />
      <button class="btn btn-outline-primary btn-sm" type="submit">
        Search
      </button>
    </form>

    <div class="col-md-2">
      <button class="btn btn-outline-success btn-sm" (click)="toNewBrand()">
        New Brand
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th
              scope="col"
              tabindex="0"
              (click)="sortColumn('id')"
              (keydown.enter)="sortColumn('id')"
            >
              ID
              @if (sortedColumn === "id") {
                <span>{{ isAscendingOrder ? "↑" : "↓" }}</span>
              }
            </th>
            <th scope="col">Logo</th>
            <th
              scope="col"
              tabindex="0"
              (click)="sortColumn('name')"
              (keydown.enter)="sortColumn('name')"
            >
              Name
              @if (sortedColumn === "name") {
                <span>{{ isAscendingOrder ? "↑" : "↓" }}</span>
              }
            </th>
          </tr>
        </thead>

        <tbody>
          @for (brand of filteredBrandList; track brand.id) {
            <tr
              tabindex="0"
              (click)="onBrandSelect(brand)"
              (keydown.enter)="onBrandSelect(brand)"
            >
              <td>{{ brand.id }}</td>
              <td>
                <img
                  [src]="brand.logoUrl || 'assets/images/no-image-100.png'"
                  alt="Brand logo"
                  width="50"
                  height="50"
                />
              </td>
              <td>{{ brand.name }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    @if (createBrand) {
      <div class="col-md-4">
        <div class="card shadow p-2">
          <app-brand-create (onCancel)="createBrand = false"></app-brand-create>
        </div>
      </div>
    }

    @if (selectedBrand) {
      <div class="col-md-4">
        <div class="card shadow p-2">
          <app-brand-details [brand]="selectedBrand"></app-brand-details>
        </div>
      </div>
    }
  </div>
</div>
