services:
  # -----------------------------
  # Postgres
  # -----------------------------
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"   # host:container
    networks:
      - erp-net
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
  # -----------------------------
  # Brand Service
  # -----------------------------
  brand-sv:
    build:
      context: ../microservices/brand-sv
    container_name: brand-sv
    ports:
      - "${BRAND_SV_PORT}:8080"
    env_file:
      - ../docker/.env
      - ../microservices/brand-sv/.env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - erp-net
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health | grep UP || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
  # -----------------------------
  # Category Service
  # -----------------------------
  category-sv:
    build:
      context: ../microservices/category-sv
    container_name: category-sv
    ports:
      - "${CATEGORY_SV_PORT}:8080"
    env_file:
      - ../docker/.env
      - ../microservices/category-sv/.env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - erp-net
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health | grep UP || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # -----------------------------
  # Customer Service
  # -----------------------------
  customer-sv:
    build:
      context: ../microservices/customer-sv
    container_name: customer-sv
    env_file:
      - .env
      - ../microservices/customer-sv/.env
    ports:
      - "${CUSTOMER_SV_PORT}:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - erp-net
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health | grep UP || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
  # -----------------------------
  # Image Service
  # -----------------------------
  image-sv:
    build:
      context: ../microservices/image-sv
    container_name: image-sv
    env_file:
      - .env
      - ../microservices/image-sv/.env
    ports:
      - "${IMAGE_SV_PORT}:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - erp-net
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health | grep UP || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
  # -----------------------------
  # Inventory Service
  # -----------------------------
  inventory-sv:
    build:
      context: ../microservices/inventory-sv
    container_name: inventory-sv
    ports:
      - "${INVENTORY_SV_PORT}:8080"
    env_file:
      - ../docker/.env
      - ../microservices/inventory-sv/.env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - erp-net
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health | grep UP || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
  # -----------------------------
  # Pricing Service
  # -----------------------------
  pricing-sv:
    build:
      context: ../microservices/pricing-sv
    container_name: pricing-sv
    ports:
      - "${PRICING_SV_PORT}:8080"
    env_file:
      - ../docker/.env
      - ../microservices/pricing-sv/.env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - erp-net
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health | grep UP || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
  # -----------------------------
  # Product Service
  # -----------------------------
  product-sv:
    build:
      context: ../microservices/product-sv
    container_name: product-sv
    ports:
      - "${PRODUCT_SV_PORT}:8080"
    env_file:
      - ../docker/.env
      - ../microservices/product-sv/.env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - erp-net
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health | grep UP || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
  # -----------------------------
  # Sales Service
  # -----------------------------
  sales-sv:
    build:
      context: ../microservices/sales-sv
    container_name: sales-sv
    env_file:
      - .env
      - ../microservices/sales-sv/.env
    ports:
      - "${SALES_SV_PORT}:8080"
    depends_on:
      - product-sv
      - customer-sv
    networks:
      - erp-net
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health | grep UP || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
  # -----------------------------
  # Supplier Service
  # -----------------------------
  supplier-sv:
    build:
      context: ../microservices/supplier-sv
    container_name: supplier-sv
    ports:
      - "${SUPPLIER_SV_PORT}:8080"
    env_file:
      - ../docker/.env
      - ../microservices/supplier-sv/.env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - erp-net
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health | grep UP || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # -----------------------------
  # Nginx Gateway
  # -----------------------------
  nginx:
    build:
      context: ./nginx
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - brand-sv
      - category-sv
      - product-sv
      - customer-sv
      - image-sv
      - inventory-sv
      - supplier-sv
      - pricing-sv
      - sales-sv
    networks:
      - erp-net
networks:
  erp-net:
    name: erp-net
    driver: bridge
volumes:
  postgres_data:








  # -----------------------------
  # Zookeeper
  # -----------------------------
  #  zookeeper:
  #    image: confluentinc/cp-zookeeper:latest
  #    container_name: zookeeper
  #    environment:
  #      ZOOKEEPER_CLIENT_PORT: 2181
  #    networks:
  #      - ${NETWORK_NAME}

  # -----------------------------
  # Kafka
  # -----------------------------
  #  kafka:
  #    image: confluentinc/cp-kafka:latest
  #    container_name: kafka
  #    depends_on:
  #      - zookeeper
  #    env_file:
  #      - .env
  #    environment:
  #      KAFKA_BROKER_ID: ${KAFKA_BROKER_ID}
  #      KAFKA_ZOOKEEPER_CONNECT: ${KAFKA_ZOOKEEPER}
  #      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${KAFKA_ADVERTISED_LISTENER}
  #      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  #    ports:
  #      - "9092:9092"
  #    networks:
  #      - ${NETWORK_NAME}


  # -----------------------------
  # Redis (opcional)
  # -----------------------------
#  redis:
#    image: redis:latest
#    container_name: redis
#    ports:
#      - "${REDIS_PORT}:6379"
#    networks:
#      - ${NETWORK_NAME}