services:
  # -----------------------------
  # Postgres
  # -----------------------------
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"   # host:container
    networks:
      - erp-net
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  # -----------------------------
  # Product Service
  # -----------------------------
  product-sv:
    build:
      context: ../microservices/product-sv
    container_name: product-sv
    ports:
      - "${PRODUCT_SV_PORT}:8080"
    env_file:
      - ../docker/.env
      - ../microservices/product-sv/.env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - erp-net

networks:
  erp-net:
    driver: bridge

volumes:
  postgres_data:
  # -----------------------------
  # Zookeeper
  # -----------------------------
#  zookeeper:
#    image: confluentinc/cp-zookeeper:latest
#    container_name: zookeeper
#    environment:
#      ZOOKEEPER_CLIENT_PORT: 2181
#    networks:
#      - ${NETWORK_NAME}


  # -----------------------------
  # Kafka
  # -----------------------------
#  kafka:
#    image: confluentinc/cp-kafka:latest
#    container_name: kafka
#    depends_on:
#      - zookeeper
#    env_file:
#      - .env
#    environment:
#      KAFKA_BROKER_ID: ${KAFKA_BROKER_ID}
#      KAFKA_ZOOKEEPER_CONNECT: ${KAFKA_ZOOKEEPER}
#      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${KAFKA_ADVERTISED_LISTENER}
#      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
#    ports:
#      - "9092:9092"
#    networks:
#      - ${NETWORK_NAME}


  # -----------------------------
  # Redis (opcional)
  # -----------------------------
#  redis:
#    image: redis:latest
#    container_name: redis
#    ports:
#      - "${REDIS_PORT}:6379"
#    networks:
#      - ${NETWORK_NAME}


  # -----------------------------
  # API Gateway
  # -----------------------------
#  api-gateway:
#    build:
#      context: ../api-gateway
#    container_name: api-gateway
#    ports:
#      - "${GATEWAY_PORT}:8080"
#    env_file:
#      - .env
#    depends_on:
#      - product-service
#      - customer-service
#      - sales-service
#    networks:
#      - ${NETWORK_NAME}

  # -----------------------------
  # Customer Service
  # -----------------------------
#  customer-service:
#    build:
#      context: ../microservices/customer-service
#    container_name: customer-service
#    env_file:
#      - .env
#      - ../microservices/customer-service/.env
#    ports:
#      - "${CUSTOMER_SERVICE_PORT}:8080"
#    depends_on:
#      - postgres
#    networks:
#      - ${NETWORK_NAME}


  # -----------------------------
  # Sales Service
  # -----------------------------
#  sales-service:
#    build:
#      context: ../microservices/sales-service
#    container_name: sales-service
#    env_file:
#      - .env
#      - ../microservices/sales-service/.env
#    ports:
#      - "${SALES_SERVICE_PORT}:8080"
#    depends_on:
#      - product-service
#      - customer-service
#      - postgres
#    networks:
#      - ${NETWORK_NAME}